<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.login.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.login.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDoctorServlet</servlet-name>
        <servlet-class>com.login.DeleteDoctorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSecretaryServlet</servlet-name>
        <servlet-class>com.login.DeleteSecretaryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePatientServlet</servlet-name>
        <servlet-class>com.login.DeletePatientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAppointmentServlet</servlet-name>
        <servlet-class>com.login.CreateAppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RateDoctorServlet</servlet-name>
        <servlet-class>com.login.RateDoctorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDoctorRatingServlet</servlet-name>
        <servlet-class>com.login.ViewDoctorRatingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDoctorServlet</servlet-name>
        <url-pattern>/DeleteDoctorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSecretaryServlet</servlet-name>
        <url-pattern>/DeleteSecretaryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePatientServlet</servlet-name>
        <url-pattern>/DeletePatientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAppointmentServlet</servlet-name>
        <url-pattern>/CreateAppointmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RateDoctorServlet</servlet-name>
        <url-pattern>/RateDoctorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDoctorRatingServlet</servlet-name>
        <url-pattern>/ViewDoctorRatingServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
